@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.header {
  background-image: url(../../public/pexels-jan-van-bizar-12224996.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.menu_buttons {
  color: white;
  font-weight: bold;
}
