@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.header {
  background-image: url(../../public/pexels-jan-van-bizar-12224996.jpg);
  color: white;
}

.menu_buttons {
  color: white;
  font-weight: bold;
}

.hero_section .text_content {
  margin-top: 16rem;
}

.hero_section .header_text {
  font-size: 12rem;
  line-height: 12rem;
}

.hero_section .header_text > .marked_text {
  color: #1B85E8;
}

.hero_section .scroll_page_btn {
  margin: 1rem 0 0 .5rem;
  font-size: 1.5rem;
}

.hero_section .scroll_page_btn > svg {
  display: inline;
  margin-left: .5rem;
}

.header_text {
  font-weight: bold;
  font-size: 8rem;
}

.text_content {
  font-size: 2rem;
}

.first_section .img_placeholder {
  background-image: url(../../public/pexels-kelly-2800832.jpg);
  aspect-ratio: 16 / 9;
  margin-left: 4rem;
  min-width: 100%;
  min-height: 100%;
}

.second_section .img_placeholder {
  background-image: url(../../public/pexels-kindel-media-9875676.jpg);
  aspect-ratio: 16 / 9;
  margin-left: 4rem;
  min-width: 100%;
  min-height: 100%;
}

.third_section .img_placeholder {
  background-image: url(../../public/orlen.png);
  aspect-ratio: 16 / 9;
  margin-left: 4rem;
  min-width: 100%;
  min-height: 100%;
}

.fourth_section .img_placeholder {
  background-image: url(../../public/image-content.png);
  aspect-ratio: 16 / 9;
  margin-left: 4rem;
  min-width: 100%;
  min-height: 100%;
}

.contact_section {
  background-color: #1B85E8;
  color: white;
}

.contact_section .img_placeholder {
  aspect-ratio: 16 /9;
  min-width: 100%;
  min-height: 100%;
  opacity: 30%;
}

.faq_section .text_content .question {
  font-weight: bold;
  font-size: 4rem;
}

.faq_section .text_content .answer {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.footer .text_content{
  padding-bottom: 1rem;
}